<h3>
Selected Publications
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Contrastive Adaptation Network for Single- and Multi-Source Domain Adaptation</strong><br />
      <strong> Guoliang Kang, </strong> Lu Jiang, Yunchao Wei, Yi Yang, Alexander G. Hauptmann<br />
      IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), 2020 <br />
      <a href="https://github.com/kgl-prml/Contrastive-Adaptation-Network-for-Unsupervised-Domain-Adaptation">[Code]</a>
      <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9219132">[Paper]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Pixel-Level Cycle Association: A New Perspective for Domain Adaptive Semantic Segmentation</strong><br />
      <strong> Guoliang Kang, </strong> Yunchao Wei, Yi Yang, Yueting Zhuang, Alexander G. Hauptmann<br />
      Neural Information Processing Systems (<strong>NeurIPS</strong>), 2020 (<span style="color:#CB4335;"><strong>oral</strong></span>)<br />
      <a href="https://github.com/kgl-prml/Pixel-Level-Cycle-Association">[Code]</a>
      <a href="https://arxiv.org/abs/2011.00147">[Paper]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Content-Consistent Matching for Domain Adaptive Semantic Segmentation</strong><br />
      Guangrui Li*, <strong> Guoliang Kang*, </strong> Wu Liu, Yunchao Wei, Yi Yang (* equal contribution) <br />
      European Conference on Computer Vision (<strong>ECCV</strong>), 2020 <br />
      <a href="https://github.com/Solacex/CCM">[Code]</a>
      <a href="https://www.ecva.net/papers/eccv_2020/papers_ECCV/papers/123590426.pdf">[Paper]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong> Random Erasing Data Augmentation </strong><br />
      Zhun Zhong, Liang Zheng, <strong> Guoliang Kang, </strong> Shaozi Li, Yi Yang <br />
      Association for the Advance of Artificial Intelligence (<strong>AAAI</strong>), 2020 <br />
      <a href="https://github.com/zhunzhong07/Random-Erasing">[Code]</a>
      <a href="https://arxiv.org/pdf/1708.04896.pdf">[Paper]</a>
    </p>
  </div>
</div>


<!--
<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong> Contrastive Adaptation Netowkr for Unsupervised Domain Adaptation</strong><br />
      <strong> Guoliang Kang, </strong> Lu Jiang, Yi Yang, Alexander G. Hauptmann <br />
      Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2019 <br />
    </p>
  </div>
</div>
-->

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>  Attract or Distract:  Exploit the Margin of Open Set.</strong><br />
      Qianyu Feng, <strong> Guoliang Kang, </strong> Hehe Fan, Yi Yang<br />
      International Conference on Computer Vision (<strong>ICCV</strong>), 2019 <br />
      <a href="https://github.com/qy-feng/margin-openset"> [Code] </a>
      <a href="https://openaccess.thecvf.com/content_ICCV_2019/papers/Feng_Attract_or_Distract_Exploit_the_Margin_of_Open_Set_ICCV_2019_paper.pdf"> [Paper] </a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong> Asymptotic soft filter pruning for deep convolutional neural networks.</strong><br />
      Yang He, Xuanyi Dong, <strong> Guoliang Kang, </strong> Yi Yang<br />
      IEEE transactions on cybernetics (<strong>TCYB</strong>), 2018 <br />
      <a href="https://github.com/he-y/soft-filter-pruning"> [Code] </a>
      <a href="https://ieeexplore.ieee.org/document/8816678"> [Paper] </a>
    </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>  Deep  Adversarial  Attention  Alignment  forUnsupervised Domain Adaptation:  the Benefit of Target Expectation Maximization. </strong><br />
      <strong> Guoliang Kang, </strong> Liang Zheng, Yan Yan, Yi Yang <br />
      European Conference on Computer Vision (<strong>ECCV</strong>), 2018 <br />
      <a href="https://openaccess.thecvf.com/content_ECCV_2018/papers/Guoliang_Kang_Deep_Adversarial_Attention_ECCV_2018_paper.pdf"> [Paper] </a>
    </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong> Self-produced guidancefor weakly-supervised object localization.</strong><br />
      Xiaolin Zhang, Yunchao Wei, <strong> Guoliang Kang, </strong> Yi Yang <br />
      European Conference on Computer Vision (<strong>ECCV</strong>), 2018 <br />
      <a href="https://github.com/xiaomengyc/SPG"> [Code] </a>
      <a href="https://www.ecva.net/papers/eccv_2018/papers_ECCV/papers/Xiaolin_Zhang_Self-produced_Guidance_for_ECCV_2018_paper.pdf"> [Paper] </a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong> Soft filter pruning for accelerating deep convolutional neural networks.</strong><br />
      Yang He, <strong> Guoliang Kang, </strong> Xuanyi Dong, Yi Yang<br />
      International Joint Conference on Artificial Intelligence (<strong>IJCAI</strong>), 2018 <br />
      <a href="https://github.com/he-y/soft-filter-pruning"> [Code] </a>
      <a href="https://arxiv.org/pdf/1808.06866.pdf"> [Paper] </a>
    </p>
  </div>
</div>




<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Shakeout: A New Approach to Regularized Deep Neural Network Training.</strong><br />
      <strong> Guoliang Kang, </strong> Jun Li, Dacheng Tao<br />
      IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), 2017 <br />
      <a href="https://github.com/kgl-prml/shakeout-for-caffe">[Code]</a>
      <a href="https://arxiv.org/pdf/1904.06593.pdf">[Paper]</a>
    </p>
  </div>
</div>

